<div>
  &nbsp;
</div>
<header>
  <div id="logo">
    <a href="#"><img src="/images/logo.gif" alt="Logo" /></a>
    </div>
  <nav>
    <ul>
      <li><a href="#">home</a></li>
      <li><a href="#">categories</a></li>
    </ul>
  </nav>
</header>